

:root {
    --negro: #242424;
  --blanco: #dee2e6;
  --gris: #dee2e6;
  --marron: #c4aa83;
  }

.contenedorCartas {
    background-color: var(--blanco);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.carta {
    margin: 10px;
    background-color: var(--negro);
    max-width: 250px; 
    border-radius: 10px;
}

.cartaImagen {
    width: 100%; /* Ajusta la imagen para que ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    border-radius: 10px;
}

.cartaContent {
    padding: 10px;
}

#cartaTitulo {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .carta {
        flex: 1 1 calc(100% - 20px); /* Para pantallas pequeñas, las cartas ocuparán el 100% del ancho del contenedor */
    }
}

a{
    font-weight: bold;
}
