/* styles.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    
    border: 1px solid #383415e0; 
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    
  }
  
  .card:nth-child(odd) {
    background-color: #ddbf65;
  }
  
  .card:nth-child(even) {
    background-color:  #ddbf65;
  } 
  
  .card:hover {
    background-color: #e18b3a;
  }
  
  .card-content {
    margin-bottom: 10px;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-actions label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .total-price-section {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #00d0ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  
  .precioTotal{
    cursor:copy;
    background-color: #c28c59;
    border-radius: 5px;
    padding: 10px ;
  }

  