.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40%;
    margin: auto;
    overflow: hidden;
    /* top: 50vh; */
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100%;
  }
  
  .carousel img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .control-left,
  .control-right {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .control-left {
    left: 10px;
  }
  
  .control-right {
    right: 10px;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
/* 
  .bk_image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    object-fit: cover; 
    filter: blur(5px);
  }
  .bk_image::before{
    content: "efawefaf";
    background-color: #000;
    width: 100%;
    height: 100%;
  } */
  
  