
:root {
  --negro: #242424;
--blanco: #dee2e6;
--gris: #dee2e6;
--marron: #c4aa83;
}

.carousel {
    background: var(--negro); 
    padding: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    overflow: hidden;
    min-width: 415px;
    min-height: 250px;
    max-height: 450px;
    
  }

  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100%;
  }
  

  .image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    min-height: 300px;
  }
  
  .control-left,
  .control-right {
    color: var(--blanco);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .control-left {
    left: 10px;
  }
  
  .control-right {
    right: 10px;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
  }
 
  .presentacion {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura de todo el viewport */
    overflow: hidden;
  }
  
  .presentacion img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    z-index: 1; /* Colocar la imagen en el fondo */
  }
  
  .presentacion h1,
  .presentacion p {
    position: absolute;
    z-index: 2; /* Colocar el texto sobre la imagen */
    color: white; /* Color del texto */
    text-align: center;
    width: 100%;
  }
  
  .presentacion h1 {
    top: 20%; /* Ajustar la posición del título */
    font-size: 5em;
  }
  
  .presentacion p {
    top: 50%; /* Ajustar la posición del párrafo */
    font-size: 1.7em;
    margin: 30px 10px;
    font-weight: 500;
  }
  