/* Archivo CSS */

:root {
  --negro: #242424;
--blanco: #dee2e6;
--gris: #dee2e6;
--marron: #c4aa83;
}

.section {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 25px;
    justify-content: space-around;
    padding: 30px 100px 30px 100px;

    & p{
      font-weight: bold;
      margin-left: 10px;
      font-size: 1.5rem;
    }
  }
  
  .row {
    flex-direction: row;
  }
  
  .row-reverse {
    flex-direction: row-reverse;
    background-color: var(--gris);
  }
  
  .section article {
    flex: 1;
    padding: 10px;
    text-align: center;
    max-width: 500px;
  }

  
  