:root {
    --negro: #242424;
    --blanco: #dee2e6;
  }

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: var(--negro); /* Mantiene el color de fondo */
    padding: 20px; /* Añadido para espacio interno */
    
    color: var(--blanco); /* Un tono más oscuro de azul para mejor legibilidad */
    font-weight: bold; /* Asegura que el texto sea negrita */
    
    position: relative; 
    bottom: 0; /* Al pie de la página */
    margin-top: auto;
}

p{
    margin: 5px;
}
