iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    margin: 20px auto;
    background-color: rgb(225, 142, 16);
    
}

.contact-info{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h2{
        margin-top: 50px;
        margin-bottom: -10px ;
    }

    & p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -5px;
    }
}