:root{
    --negro: #242424;
    --blanco: #dee2e6;
    --gris: #dee2e6;
    --marron: #c4aa83;
}


iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    border-radius: 20px;
    border-style: none;
}

.google-maps{
    padding-bottom: 100px;
    background-color: var(--gris);
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: var(--gris);
    & h2{
        margin-top: 50px;
        margin-bottom: -10px ;
    }

    & p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -5px;
    }
}