:root{
    --negro: #242424;
    --blanco: #dee2e6;
    --gris: #dee2e6;
    --marron: #c4aa83;
}

/* navbar.css */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .navbar {
    display: flex;
    background-color: var(--negro);
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  .contenedor-logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Alinear el logo a la izquierda */
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-right: 30px;
}

.navbar li {
    display: flex;
    margin-right: 10px;
    text-align: center;

}

.navbar li a {
    color: var(--blanco);
    text-decoration: none;
    margin-top: 0;
  }
  
  .title {
    margin-left: 10px;
    color: var(--blanco);
    font-weight: bold ;
  }

.logo {
    width: 59px; 
    height: auto;
    padding: 5px; 
} 