---
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
   <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
		html {
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,system-ui, sans-serif;
		background: #221711ea;
		background-size: 224px;
		/* estilos comunes a todas las paginas  */
		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.card-content {
    background-color: #623c33;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(225, 172, 14, 0.1); 
    padding: 20px; 
    max-width: 300px; 
    margin: 20px auto; 
    font-family: cursive; color:rgb(245, 154, 70) 
}

.card{
	background-color: #b09637ea;
	border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(225, 172, 14, 0.1); 
    padding: 20px; 
    max-width: 300px; 
    margin: 20px auto; 
}

h2{
	font-family: sans-serif; color:orange 
}

h5{
	font-size: large;
	font-family: 'Arial Narrow Bold', sans-serif; color: #fdd433ea;
}
</style> 

</html>
